<div class="form">
<%= form_for(party) do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  
    <%= f.label :theme %><br>
    <%= f.text_field :theme_name %><br>

    <%= f.label :capacity %><br>
    <%= f.text_field :capacity %><br>
    <%= f.hidden_field :host, :value => @party.host %>
    <%= f.submit %>
  <% end %> 
  </div>