<div class= "party_comments">
  <%= party.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.content %>
  <%end%>
</div>

<%= form_for Comment.new do |f| %>
  <%= f.label "Write your comment here:" %>
  <%= f.text_field :content %>
  <%= f.hidden_field :party_id, value: @party.id %>
  <%= f.submit %>
<% end %>