
<h2> Name of the party: <%= @party.name %> <br> </h2>
<h3> 
  Theme of the party: <%= @party.theme.name %> <br>
  Party capacity: <%= @party.capacity %> <br>
  <p>About this party:</p>
</h3> 
<p class = "about"> <%= @party.about %>  </p></div><br>

<%= render partial: "guestlist", locals: {party: @party} %>

<div class= "rsvp-field">
  <%= rsvp_button(@party)%>
  <%= remove_rsvp(@party, @rsvp)%>
</div>
<% if current_user == @party.host %>
  Click <%= link_to "here", edit_party_path(@party) %> to edit party details.
<%end%>
<p><%= render partial: "party_comments", locals: {party: @party} %></p>