Name of the party: <%= @party.name %> <br>
Theme of the party: <%= @party.theme.name %> <br>
Party capacity: <%= @party.capacity %> <br><br>
About this party: <div class = "about"> <%= @party.about %>  </div><br>


<ul class = "guest_list">
<% if !@party.guests.blank? %>
<% @party.guests.each do |guest|%>
    <li> <%=guest.name %> </li>
  <% end %>
  <% else %>
    There is currently nobody attending.
<% end %>
</ul>

<div class= "rsvp-field">
<% if @party.guests.count == @party.capacity %>
  This party is currently at capacity. Check back later to see if any space opens up.

  <% elsif current_user.type == "Guest" && !@party.guests.include?(current_user) %>
    <%= form_for Rsvp.new do |f| %>
      <%= f.hidden_field :party_id, value: @party.id %>
      <%= f.submit " RSVP" %>
    <% end %>
  <% end %>

  <br><br><br>
    <% if @party.guests.include?(current_user) %>
      I can't make it anymore.
      <%= button_to "Remove myself from the list", rsvp_path(@rsvp), method: :delete %>
    <% end %>

    </div>

    <% if current_user == @party.host %>
       Click <%= link_to "here", edit_party_path(@party) %> to edit party details.
    <%end%>

    <br><br>

    <%= render partial: "party_comments", locals: {party: @party} %>