
<h2> Party name: <%= @party.name %> <br> </h2>
<h3> Theme of the party: <%= @party.theme.name %> <br>
Party capacity: <%= @party.capacity %> <br></h3>
<h4>About this party:</h4> 
<p class = "about"> <%= @party.about %>  </p>
This party is brought to you by <strong><%= @party.host.name %></strong></div><br>

<%= render partial: "guestlist", locals: {party: @party} %>

<div class= "rsvp-field">
  <%= rsvp_button(@party)%>
  <%= remove_rsvp(@party, @rsvp)%>
</div>
<% if current_user == @party.host %>
  Click <%= link_to "here", edit_party_path(@party) %> to edit party details.
<%end%>
<p><%= render partial: "party_comments", locals: {party: @party} %></p>

<p> Click <%= link_to "here", new_party_comment_path(@party) %> to create a new comment.</p>