Name of the party: <%= @party.name %> <br>
Theme of the party: <%= @party.theme.name %> <br>
Party capacity: <%= @party.capacity %> <br>


<ul class = "guest_list">
<% if !@party.guests.blank? %>
<% @party.guests.each do |guest|%>
    <li> <%=guest.name %> </li>
  <% end %>
  <% else %>
    There is currently nobody attending.
<% end %>
</ul>



    <% if current_user.type == "Guest" && !@party.guests.include?(current_user) %>
      <%= form_for Rsvp.new do |f| %>
        <%= f.hidden_field :party_id, value: @party.id %>
        <%= f.submit " RSVP" %>
      <% end %>
      <% else %>
      I can't make it anymore

      <%= form_for :rsvps, :controller => "rsvps", method: :delete do |f| %>
        <%= f.hidden_field :party_id, value: @party.id %>
        <%= f.submit "Remove myself from the list" %>
        <% end %>
    <% end %>