<%= @party.name %> <br>
<%= @party.theme.name %> <br>
<%= @party.capacity %> <br>


<ul class = "guest_list">
<% if !@party.guests.blank? %>
<% @party.guests.each do |guest|%>
    <li> <%=guest.name %> </li>
  <% end %>
  <% else %>
    There is currently nobody attending.
<% end %>
</ul>



    <% if current_user.type == "Guest" && !@party.guests.include?(current_user) %>
      <%= form_for Rsvp.new do |f| %>
        <%= f.hidden_field :party_id, value: @party.id %>
        #in controller do current_user.rsvp.build - or pass current user from rsvps 
        <%= f.submit " RSVP" %>
      <% end %>
    <% end %>