<-- removed the error render from this form -->

<div class="form">
<%= form_for(comment) do |f| %>
  
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
    <%= f.hidden_field :party_id, value: party.id %><br>
    <%= f.submit %>
  <% end %> 
</div>