<%= render partial: "layouts/errors", locals: {record: user} %>

<div class="form">
<%= form_for(user) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>

    <%= f.label "Are you a party host?" %><br>
    <%= f.check_box :admin %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>

    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>

    <%= f.submit %>
  <% end %> 
  </div>

  You can also create an account with  <%= link_to('Facebook', '/auth/facebook')%> or
  <%= link_to('Google', '/auth/google_oauth2')%>. <br>
  Please note, you will not have access to create parties with this type of profile.