<%= render partial: "layouts/errors", locals: {record: user} %>

<div class="form">
<%= form_for(user)do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label "Do you want to host your own events?" %><br>
    <%= f.check_box :admin %><br>

    <%= f.submit %>
  <% end %> 
  </div>