<%= render partial: "update_user_info_form", locals: {user: @user} %>

<br><br>
<div class = "delete field">
  <% flash.each do |type, msg| %>
    <div class="errors">
      <%= msg %>
    </div>
  <% end %>
  <%= form_tag user_path(@user), method: "delete" do %>
    <%= label_tag "Please enter your password."  %> <br>
    <%= password_field_tag 'user[password]' %><br>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input value='Delete Account' type='submit' id='submit-form'/>
  <% end %>
</div>